*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f7ff;
}

.container{
    display:flex;
    min-height:100vh;
}

/* Sidebar */

.sidebar{
    width:260px;
    background:linear-gradient(180deg,#4f46e5,#7c3aed);
    color:white;
    padding:25px;
}

.logo{
    text-align:center;
    margin-bottom:40px;
}

.logo-header{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:12px;
    margin-bottom:8px;
}

.logo-header img{
    width:60px;
    height:60px;
    border-radius:50%;
    object-fit:cover;
    background:white;
    padding:3px;
}

.logo-header h2{
    font-size:32px;
    font-weight:700;
    color:white;
    margin:0;
}

#fullform{
    font-size:12px;
    color:rgba(255,255,255,0.85);
    line-height:1.4;
    margin-bottom:10px;
    font-family:'Poppins',sans-serif;
}

.portal{
    font-size:14px;
    font-weight:600;
    letter-spacing:2px;
    color:white;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin-bottom:10px;
    border-radius:12px;
    cursor:pointer;
    transition:.3s;
}

.sidebar ul li i{
    margin-right:10px;
}

.sidebar ul li:hover,
.sidebar ul .active{
    background:rgba(152, 14, 14, 0.2);
}

.logout{
    width:100%;
    padding:12px;
    margin-top:40px;
    border:none;
    border-radius:10px;
    background:white;
    color:#4f46e5;
    font-weight:600;
    cursor:pointer;
}

